<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>userdata.UploadData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>userdata.Database</servlet-class>
        <init-param>
            <param-name>urlJDBC</param-name>
            <param-value>/WEB-INF/db/db</param-value>
        </init-param>
        <init-param>
            <param-name>driverJDBC</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>userJDBC</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>passwordJDBC</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
        <init-param>
            <param-name>urlJDBC</param-name>
            <param-value>W </param-value>
        </init-param>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>0</error-code>
        <location>/error.jsp</location>
    </error-page>
    <context-param>
        <param-name>
            javax.servlet.jsp.jstl.sql.dataSource
        </param-name>
        <param-value>
            jdbc:mysql://localhost:3306/gsiWeb,com.mysql.jdbc.Driver,root,root
        </param-value>
    </context-param>
</web-app>
